<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.1.2" targetFramework="net45" />
  <package id="ConfigR" version="0.14.0" targetFramework="net45" />
  <package id="NLog" version="4.2.3" targetFramework="net45" />
  <package id="ScriptCs.Contracts" version="0.16.1" targetFramework="net45" />
  <package id="ScriptCs.Core" version="0.16.1" targetFramework="net45" />
  <package id="ScriptCs.Engine.Roslyn" version="0.16.1" targetFramework="net45" />
  <package id="StyleCop.MSBuild" version="4.7.51.0" targetFramework="net45" developmentDependency="true" />
  <package id="Topshelf" version="3.3.1" targetFramework="net45" />
</packages>