<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="console" xsi:type="ColoredConsole" layout="${pad:padding=5:inner=${uppercase:inner=${level}}}: ${message}" />
      <target name="file" xsi:type="File" fileName="${tempdir:file=ConfigR.Samples.Scheduler.log}" deleteOldFileOnStartup="true" layout="${date} ${pad:padding=2:inner=${threadid}} ${pad:padding=50:inner=${logger}} ${pad:padding=5:inner=${uppercase:inner=${level}}}: ${message}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="console" />
      <logger name="*" minlevel="Trace" writeTo="file" />
    </rules>
  </nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
